 # Algorithm Problems

In [ ]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
import sys

#### Given a non-empty array of integers, every element appears twice except for one. Find that single one.
Input: [2,2,1]
Output: 1

In [55]:
nums = [4,1,2,1,2]

def singleNumber(nums):
    check_i_dict = {}
    
    for i in range(len(nums)):
        check_i = nums[i]
        if check_i not in check_i_dict:
            check_i_dict[check_i] = 0
        check_i_dict[check_i] += 1
        
    for i in check_i_dict:
        if check_i_dict[i] == 1:
            value = i
    return(value)

singleNumber(nums)

4

#### Write an algorithm to determine if a number n is "happy". 

A happy number is a number defined by the following process: Starting with any positive integer, replace the number by the sum of the squares of its digits, and repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1. Those numbers for which this process ends in 1 are happy numbers.

Return True if n is a happy number, and False if not.

Example: 

Input: 19

Output: True

Explanation: 

12 + 92 = 82
82 + 22 = 68
62 + 82 = 100
12 + 02 + 02 = 1

In [59]:
def is_happy(n):
    digits = [int(x) for x in str(n)]
    if(digits[0]**2 + digits[1]**2==1):
        return(True)
        
    else:
        value = digits[0]**2 + digits[1]**2
        return is_happy(value)
        
        
is_happy(19)

True

In [60]:
def is_happy(n):
    max_int = 1000
    counter = 0
    while n != 1:
        n_str = str(n)
        sum = 0
        for i in n_str:
            sum += int(i)**2
            n = sum
            counter += 1
            if counter > max_int:
                return (False)
        return True
is_happy(19)

True

In [61]:
def is_happy(n):
    value = 0
    digits = [int(x) for x in str(n)]
    for i in digits:
        value += i**2
    if value == 1:
        return (True)
    else:
       return (is_happy(value))
    
is_happy(19)

True

#### Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Input: [-2,1,-3,4,-1,2,1,-5,4]

Output: 6

Explanation: [4,-1,2,1] has the largest sum = 6.

In [288]:
#class Solution:
    #def maxSubArray(self, nums: List[int]) -> int:
nums =  [-2,1,-3,4,-1,2,1,-5,4]
largest_sum = {}
sum = 0 
sum_check = 0
for i in range(len(nums)):
    max_sum = nums[i]
    sum_check = nums[i]
    for j in range(i+1, len(nums)):
        sum_check += nums[j]
        if (sum_check > max_sum):
            max_sum = sum_check
    largest_sum[i] = max_sum
all_values = largest_sum.values()
max_value = max(all_values)
print(max_value)

6

In [ ]:
nums =  [-2,1,-3,4,-1,2,1,-5,4]

sum = []
sum_check = 0
for i in range(len(nums)):
    max_sum = nums[i]
    sum_check = nums[i]
    for j in range(i+1, len(nums)):
        sum_check += nums[j]
        if (sum_check > max_sum):
            max_sum = sum_check
    if max_sum >= sum[i]:
        sum[i] = max_sum

In [64]:
sum = []
sum_check = 0
for i in range(len(nums)):
    max_sum = nums[i]
    sum_check = nums[i]
for j in range(i+1, len(nums)):
    sum_check += nums[j]
    if (sum_check > max_sum):
        max_sum = sum_check
        sum.append(max_sum)
        max_sum = max(sum)
print(max_sum)

4

In [293]:
nums =  [-2,1,-3,4,-1,2,1,-5,4]
sum = []

for i in range(len(nums)):
    max_sum = nums[i]
    sum_check += nums[i]
    if (sum_check > max_sum):
        max_sum = sum_check
    sum.append(max_sum)
    max_sum = max(sum)
print(max_sum)

7

In [270]:
max_so_far = curr_so_far = -float('inf')
for i in range(len(nums)):
    curr_so_far += nums[i]
    curr_so_far = max(curr_so_far, nums[i])
    max_so_far = max(max_so_far, curr_so_far)
print(max_so_far)

6

In [ ]:
max_so_far = curr_so_far = -float('inf')
        for i in xrange(len(nums)):
            curr_so_far += nums[i] # Add curr number
            curr_so_far = max(curr_so_far, nums[i]) # Check if should abandon accumulated value so far if it's a burden due to negative value accumulated
            max_so_far = max(max_so_far, curr_so_far) # Update answer
            
        return max_so_far

In [295]:
nums =  [-2,1,-3,4,-1,2,1,-5,4]
sum = []

for i in range(len(nums)):
    max_sum = nums[i]
    sum_check += nums[i]
    if (sum_check > max_sum):
        max_sum = sum_check
    sum.append(max_sum)
    max_sum = max(sum)
print(max_sum)

9

#### Given an array nums, write a function to move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Input: [0,1,0,3,12]

Output: [1,3,12,0,0]

You must do this in-place without making a copy of the array. Minimize the total number of operations.

In [329]:


nums = [0,1,0,3,12]
def moveZeroes(nums):
    for i in range(len(nums)):
        if nums[i] == 0:
            nums.append(nums[i])
            nums.remove(nums[i])
    return(nums)
moveZeroes(nums)

[1, 3, 12, 0, 0]

#### Design an algorithm to find the maximum profit. You may complete as many transactions as you like (i.e., buy one and sell one share of the stock multiple times).
Note: You may not engage in multiple transactions at the same time (i.e., you must sell the stock before you buy again).

Input: [6,1,5,3,6,4]

Output: 5

In [68]:


prices = [6,1,5,3,6,4]


def maxProfit(prices):
    max_profit = 0
    for i in range(len(prices)-1):
        for j in range(i+1, len(prices)):
            max_profit = max(max_profit, prices[j]-prices[i])
    return(max_profit)

maxProfit(prices)

5

In [69]:
stock_price = [6,1,5,3,6,4]

def maxProfit(stock_price):
    max_profit_val, current_max_val = 0, 0 
    for price in reversed(stock_price):                       
        current_max_val = max(current_max_val, price)          
        potential_profit = current_max_val - price          
        max_profit_val = max(potential_profit, max_profit_val)

    return max_profit_val

maxProfit(stock_price)

5

In [70]:
#calculates profits based on multiple trades
def maxProfit_ntrades(prices):
    total_profit = 0
    for i in range(len(prices)-1):
        if (prices[i+1] > prices[i]):
            curr_profit = prices[i+1] - prices[i]
            total_profit += curr_profit
    return(total_profit)

maxProfit_ntrades(prices)

7

### Web Scraping Example using Beautiful Soup Library

Function pulls the historical starting line up for every NBA team beginning in season 2013 and returns all data into one DataFrame

In [ ]:
def starting_lineup():
        
    team_name_list = ['ATL','BOS','BRK', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA',
                       'MIL', 'MIN', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']
    
    
    header = ['Game Date', 'Box Score', 'Team', 'Player1', 'Player2', 'Player3', 'Player4', 'Player5']
    lineup_data_final = pd.DataFrame()
    year = [2013, 2014, 2015, 2016, 2017, 2018, 2019]
    
    for i in team_name_list:
        for j in year:  
            url = 'https://www.basketball-reference.com/teams/{}/{}_start.html'.format(i, j)
            html = urlopen(url)
            soup = BeautifulSoup(html)
            tr_rows = soup.find_all('tr')[1:83]
            lineup_data = [[a.get_text() for a in tr_rows[i].find_all('a')] for i in range(len(tr_rows))]
            lineup_data_df = pd.DataFrame(lineup_data, columns=header)
            lineup_data_df['Team'] = i 
            lineup_data_df['Game Date'] = pd.to_datetime(lineup_data_df['Game Date'])
            lineup_data_final = lineup_data_final.append(lineup_data_df)
    
    
    return lineup_data_final

In [8]:
team_name_list = ['ATL']
header = ['Game Date', 'Box Score', 'Team', 'Player1', 'Player2', 'Player3', 'Player4', 'Player5']
lineup_data_final = pd.DataFrame()
year = 2013 

 
url = 'https://www.basketball-reference.com/teams/{}/{}_start.html'.format('ATL', 2013)
html = urlopen(url)
soup = BeautifulSoup(html)
tr_rows = soup.find_all('tr')[1:83]
lineup_data = [[a.get_text() for a in tr_rows[i].find_all('a')] for i in range(len(tr_rows))]

In [6]:
lineup_data_df = pd.DataFrame(lineup_data, columns=header)
lineup_data_df['Team'] = i 
lineup_data_df['Game Date'] = pd.to_datetime(lineup_data_df['Game Date'])
lineup_data_final = lineup_data_final.append(lineup_data_df)

In [7]:
lineup_data_final

,Game Date,Box Score,Team,Player1,Player2,Player3,Player4,Player5
0,2012-11-02,Box Score,ATL,D. Harris,A. Horford,K. Korver,J. Smith,J. Teague
1,2012-11-04,Box Score,ATL,A. Horford,K. Korver,D. Stevenson,J. Teague,A. Tolliver
2,2012-11-07,Box Score,ATL,A. Horford,K. Korver,Z. Pachulia,J. Smith,J. Teague
3,2012-11-09,Box Score,ATL,A. Horford,K. Korver,J. Smith,D. Stevenson,J. Teague
4,2012-11-11,Box Score,ATL,A. Horford,K. Korver,Z. Pachulia,J. Smith,J. Teague
...,...,...,...,...,...,...,...,...
77,2013-04-06,Box Score,ATL,I. Johnson,D. Jones,J. Petro,J. Teague,A. Tolliver
78,2013-04-10,Box Score,ATL,D. Harris,A. Horford,K. Korver,J. Smith,J. Teague
79,2013-04-12,Box Score,ATL,D. Harris,A. Horford,K. Korver,J. Smith,J. Teague
80,2013-04-16,Box Score,ATL,D. Harris,K. Korver,J. Petro,J. Smith,J. Teague
81,2013-04-17,Box Score,ATL,J. Jenkins,I. Johnson,S. Mack,M. Scott,D. Stevenson

## Given a string containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

Open brackets must be closed by the same type of brackets.
Open brackets must be closed in the correct order.
Note that an empty string is also considered valid.

In [171]:
def parentheses_find_two(s):
    parentheses_dict = {"(":")", "[":"]", "{":"}"}
    parentheses_ls = []
    no_parentheses = ""

    if no_parentheses == s:
        return True
    if len(s) < 2 or len(s)%2 != 0:
        return False
    for i in s:
        if i in parentheses_dict:
            parentheses_ls.append(i)
        else:
            if parentheses_ls and i == parentheses_dict[parentheses_ls[-1]]:
                parentheses_ls.pop()
            else:
                return False 
    return len(parentheses_ls) == 0

In [172]:
s = "({)}"
parentheses_find_two(s)

False

In [169]:
def remove_vowels(s):
    vowels = "aeiouAEIOU"
    s_without_vowels = ""
    for letter in s:
        if letter not in vowels:
            s_without_vowels += letter
    return s_without_vowels

In [170]:
s = 'jennifer'
remove_vowels(s)

'jnnfr'